@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-quill .ql-editor::before {
  color: rgb(144, 144, 144) !important ;
  opacity: 1;
}

.follow_box::-webkit-scrollbar {
  width: 6px !important;
  height: 2px !important;
}

.follow_box::-webkit-scrollbar-thumb {
  background-color: rgba(75, 75, 75, 0.731);
}

.follow_box::-webkit-scrollbar-track {
  background: hsla(0, 7%, 8%, 0.762);
}

.followers_scroll::-webkit-scrollbar {
  width: 6px !important;
  height: 4px !important;
}

.followers_scroll::-webkit-scrollbar-thumb {
  background-color: rgba(75, 75, 75, 0.731);
}

.followers_scroll::-webkit-scrollbar-track {
  background: hsla(0, 7%, 8%, 0.762);
}

.comment_scroll::-webkit-scrollbar {
  width: 6px !important;
  height: 4px !important;
}

.comment_scroll::-webkit-scrollbar-thumb {
  background-color: rgba(75, 75, 75, 0.731);
}

.comment_scroll::-webkit-scrollbar-track {
  background: hsla(0, 7%, 8%, 0.762);
}
